*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Fredoka One', cursive;
    color: #e53170;
}

.container{
    width: 70%;
    margin: 0 auto;
}

p{
    margin-top: 50px;
    font-size: 17px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    
}

.row{
    margin-top: 100px;
}


.row::after{
    content: "";
    display: table;
    clear: both;

}

.background-cards{
    background-color: #0f0e17;
    float: left;
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
    
    
}

.background-cards img{
    height: 100px;
    float: left;
   
}

.personal-information{
    float: left;
    color: white;
    margin-left: 10px;

}

span{
    display: block;
    margin-top: 5px;
    font-family: 'Fredoka One', cursive;

}

a{
    color: #00bdf3;
    text-decoration: none;
    
}

h3{
    margin-top: 10px;
    font-family: 'Fredoka One', cursive;
}

.row-2{
    margin-top: 50px;
}
